doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(href="/login") LOG IN
    a(href="/repass") CHANGE PASSWORD
    a(href="/logout") LOG OUT
    a(href="/quiz1") QUIZ 1
    a(href="/result") RESULTS
    a(href="/") ROOT
    block content
