doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Zal1
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', type='text/css', media='screen', href='/stylesheets/main.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
  body
    up
      clock
      button#canc(type='button') Cancel quiz
    intro
    quiz
      button#start Start
      summary
      question
      form
        input(type='text')
    buts
      button#prev(type='button') Prev
      button#stop(type='button') Stop
      button#next(type='button') Next
  script.
    let json = !{JSON.stringify(json)}
  script(src='/javascript/main.js')
