html {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-image: url(https://www.wallpapermania.eu/images/lthumbs/2013-09/5971_Big-stones-in-the-water-HD-summer-wallpaper.jpg);
  background-size: 130%;
  color: brown;
}

body {
  padding: 30px;
  font: 30px "Lucida Grande", Helvetica, Arial, sans-serif;
  grid-column: 2 / 3;
  text-align: center;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

li {
  list-style-type: none;
  display: block;
}

ul {
  width: 100%;
  padding: 0;
}

a {
  padding-top: 20px;
  display: block;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Gill Sans';
  font-style: italic;
  font-weight: bold;
  color: brown;
}

img {
  display: block;
  max-height: 200px;
  margin-left: auto;
  margin-right: auto;
}

table {
  margin-right: auto;
  margin-left: auto;
}

td {
  padding: 10px;
}